html {
  font-size: 100%;
}

body {
  background-color: #F3F3F3;
}

body h1,h2,h3,h4,h5 {
  font-family: 'Martel', serif;
}

body p {
  font-family: 'Martel Sans', sans-serif;
  letter-spacing: 1.1px;
  font-weight: 500;
  font-size: 14px;
}

body a {
  font-family: 'Martel Sans', sans-serif;
  color: #E28723;
  font-weight: 500;
  font-size: 16px;
}

body a:focus {
  color: #E28723;
}

body a:active {
  color: #E0871A;
}

body a:hover {
  color: #FF9500;
}

hr {
  border: 0;
  height: 0.5px;
  background: #D2D2D2;
  width: 85%;
}

.container-fluid, .container {
  padding: 0;
}

.dark-bg {
  background-color: #001F33;
}

.light-bg {
  background-color: #F3F3F3;
}

.light-blue-bg {
  background-color: #50667F;
}

.grey-bg {
  background-color: #D2D2D2;
}

.trans-bg {
  background-color: rgba(0,0,0,0.15);
  border: 1px dotted #D2D2D2;
  border-radius: 5px;
}

.dark-text {
  color: #001F33;
}

.light-text {
  color: #F3F3F3;
}

.grey-text {
  color: #D2D2D2;
}

.dark-grey-text {
  color: #4e4e52;
}

.bottom-divider {
  border-bottom: 1px solid #D2D2D2;
}

h1,h2 {
  line-height: 1.3;
}

h1 {
  font-size: 28px;
  font-weight: 500;
}

main h1 {
  margin: 40px auto;
}

main ul, .useful-links ul{
font-family: 'Martel Sans', serif;
letter-spacing: 1.1px;
font-weight: 500;
font-size: 14px;
}

header h1 {
  padding: 0;
  margin: 0;
}

header h4 {
  padding: 0;
  margin: 0;
  line-height: 1.3;
  font-size: 16px;
  font-weight: 400;
}

h3 {
  font-weight: 500;
}

header p {
  font-weight: 200;
}

/*BUTTONS*/

.btn-custom-orange {
  background-color: #FF9500;
  color: white;
  border: 0;
  outline: 0;
  font-family: 'Martel Sans', sans-serif;
  box-shadow: 1px 1px 1px #4e4e52;
  text-decoration: none;
  line-height: 1.2;
}

.btn-custom-orange:focus {
  background-color: #FF9500;
  border: 0;
  outline: 0;
  color: white;
  text-decoration: none;
}

.btn-custom-orange:active {
  background-color: #FF9500;
  border: 0;
  color: white;
  text-decoration: none;

}

.btn-custom-orange:hover {
  background-color: #E28723;
  border: 0;
  outline: 0;
  color: white;
  text-decoration: none;
}

.btn-center {
  margin: 0 auto;
  float: none;
}

/*GENERAL*/

.logo-box {
  border-bottom: solid 1px #F3F3F3;
  display: block;
  text-align: center;
  margin: 30px auto 5px auto;
  width: 220px;
}

/*DESKTOP HEADER ( > 768px)*/

@media (min-width: 768px) {

.header-phone-box {
  margin: 0 auto 10px auto;
  border-bottom: solid 1px #F3F3F3;
}

.header-phone-box p {
  transform: translateY(6px);
}

.header-phone-box p i {
  transform: translateY(-6px);
}

nav {
  margin: 0 auto 25px;
}

.center-table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
  width: 768px;
}

.nav-justified li {
  width: 128px;
}

.nav-justified li a {
  padding: 0;
  padding-top: 12px;
  font-size: 14px;
}

.nav-pills li a {
  color: #F3F3F3;
  background-color: #001F33;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 0;
}

.nav li.disabled a, .nav li.disabled a:hover {
  color: #919191;
}

.nav-pills li a:focus {
  background-color: #001F33;
}

.nav-pills li a:hover {
  background-color: #001F33;
  text-decoration: underline;
}

.nav-pills li a:active {
  color: #FF9500;
  text-decoration: none;
}

}

/*MOBILE HEADER ( < 768px)*/

@media (max-width: 767px) {

.mobile-navbar {
  background-color: #001F33;
  border: none;
  margin: 0;
}

.navbar-toggle {
  margin: 5px auto 15px auto;
  float: none;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #F3F3F3;
  border: 0;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #F3F3F3;
}

.navbar-toggle .icon-bar {
  background-color: #001F33 !important;
}

.header-phone-box {
  margin: 0 auto 10px auto;
  border-bottom: solid 1px #F3F3F3;
}

.header-phone-box i {
  margin-bottom: 8px auto 8px auto;
}

.header-phone-box p {
  transform: translateY(6px);
}

nav {
  margin: 0 auto 25px;
}

.nav-pills {
  background-color: #001F33;
}

.nav-pills li a {
  color: #F3F3F3;
  background-color: #001F33;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 0;
}

.nav li.disabled a, .nav li.disabled a:hover {
  color: #919191;
}

.nav-pills li a:focus {
  background-color: #001F33;
}

.nav-pills li a:hover {
  background-color: #001F33;
  text-decoration: underline;
}

.nav-pills li a:active {
  color: #FF9500;
  text-decoration: none;
}
}

/*SPLASH IMAGE*/

.splash-box {
  background-color: rgba(0,0,0,.5);
  border-radius: 6px;
  padding: 0 42px 30px 0;
  margin: 15% auto;
}

/*HOME MAIN*/

.home-main {
  width: 100%;
  background-image: url("../images/doctors.jpg");
  background-size: cover;
  background-position:top center;
  background-repeat: no-repeat;
  max-height: 550px;
}

.home-main-divider {
  border-right: 1px solid #D2D2D2;
}

.home-main-img {
  height: 125px;
  margin: 50px auto;
}

.home-main-part {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 65px;
}

.home-main-part p {
  margin: 10px 22px 10px 22px;
}

/*HOME ARTICLE*/

.home-article {
  margin-top: 50px;
  margin-bottom: 40px;
}

.img-container {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 450px;
}

.img-container img {
  margin: 15px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%)
}

.home-article img {
  max-height: 320px;
  max-width: 100%;
  margin: 15px;
  border-radius: 10px;
}

.home-article h3 {
  margin: 60px 10px 35px auto;
}

.home-article p {
  margin: 10px;
}

/*FOOTER*/

.footer-padding {
  padding-top: 50px;
}

.footer-divider {
  border-right: 1px solid #919191;
}

footer h4 {
  font-weight: 600;
  color: #4E4E52;
  margin-left: 10px;
}

footer p {
color: #4E4E52;
font-weight: 300;
font-size: 13px;
}


footer li {
  margin-top: 3px;

}

footer li a {
  text-decoration: none;
  cursor: pointer;
  color: #4E4E52;
  font-weight: 300;
  font-size: 13px;
}

footer li a:visited {
  text-decoration: none;
  cursor: pointer;
  color: #4E4E52;
  font-weight: 200;
}

footer li a:hover {
  text-decoration: underline;
  color: #4E4E52;
}

footer li a:active {
  text-decoration: none;
  color: #FF9500;
}

.footer-border-top {
  border-top: 0.5pt solid #919191;
}

footer ul {
  list-style: none;
  margin-bottom: 20px;
}

.footer-list-padding {
  padding-left: 20px;
}

.footer-list-nopadding {
  padding-left: 0;
}

.footer-sep-padding {
  padding: 0 40px;
}

.adj-line-height {
  line-height: 1.2;
}

footer i {
  margin-top: 50px;
  margin-bottom: 15px;
  color: #4E4E52;
}

.hospital-adjust {
  transform: translateY(-25px);
}

.sub-footer p {
  border-top: 1pt solid #919191;
  margin-bottom: 40px;
}

.sub-footer p, .sub-footer a {
  color: #919191;
  margin-top: 40px;
  font-weight: 300;
  font-size: 14px;
  padding-top: 25px;
}

.sub-footer a {
  text-decoration: underline;
  cursor: pointer;
  color: #919191;
}

.sub-footer a:visited {
  text-decoration: underline;
  cursor: pointer;
  color: #919191;
}

.sub-footer a:hover {
  text-decoration: none;
  color: #E0871A;
}

.sub-footer a:active {
  text-decoration: none;
  color: #4E4E52;
}

.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.back-to-top a {
  color: #4E4E52;
}

.back-to-top a:hover {
  color: #4E4E52;
}

.back-to-top a:active {
  color: #FF9500;
}

.visible {
  visibility: visible;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.not-visible {
  right: -35px;
  bottom: -35px;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.display-none {
  display: none;
}

.opacity-zero {
  opacity: 0;
}

.opacity-full {
  opacity: 1;
}

.smooth-transitions {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/*DOCTORS main*/

.doctors-main-image {
  background-image: url(../images/doctor-patient.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  min-height: 500px;
  position: relative;
}

.doctors-main-image h3 {
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
  margin: 0 25px 0 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-shadow: 1.5px 1.5px black;
  margin-left: 0;
}

/*DOCTORS ARTICLE*/

.doctors-article p {
  margin: 50px auto;
  padding: 15px;
  max-width: 1000px;
}

/*DOCTORS AREA*/

.doctors-area {
  margin-bottom: 80px;
}

.doctors-area h3 {
  font-size: 18px;
  line-height: 1.3;
  font-weight: 500;
}

.doctor-object {
  padding: 12px;
  margin: 35px 0;
}

.doctor-object p {
  margin: 8px 0 0 0;
  height: 110px;
  overflow: hidden;
}

.doctor-line {
  border-top: 0.5pt dotted grey;
  padding-top: 10px;
}

.doctor-object a {
  font-size: 16px;
  margin-top: 0;
}

/*SERVICES main*/

.services-main p {
  margin: 0 25px 30px 25px;
  max-width: 800px;
}

.services-main li {
  margin: 8px 12px;
}

.services-aside {
  margin-top: 50px;
  border-radius: 15px;
  padding: 16px;
}

.services-aside img {
  width: 50px;
  height: 50px;
  border: 0;
  color: #7cbde8;
}

.services-aside p {
  margin: 15px;
}

.phys-link {
  line-height: 3;
  font-style: italic;
}

/*SERVICES AREA*/

.services-area-image {
  background-image: url(../images/happy-couple.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 650px;
  position: relative;
}

/*DESKTOP ( > 768px)*/

@media (min-width: 768px) {

  .services-area-image p {
    text-align: center;
    line-height: 1.5;
    margin: 0 25px 0 25px;
    position: absolute;
    top: 50%;
    left: 25%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-shadow: 1.5px 1.5px black;
    margin-left: 0;
  }

  .services-area-image button {
    position: absolute;
    top: 62%;
    left: 25%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 1px #4e4e52;
  }

}


/*MOBILE ( < 768px)*/

@media (max-width: 767px) {

.services-area-image p {
  text-align: center;
  line-height: 1.5;
  margin: 0 25px 0 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-shadow: 1.5px 1.5px black;
  margin-left: 0;
}

.services-area-image button {
  position: absolute;
  top: 62%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 1px #4e4e52;
}

}

.useful-links h3 {
  margin: 50px 50px 30px 50px;
}

.useful-links ul {
  margin-bottom: 60px;
}

.useful-links li a {
  font-family: 'Martel', serif;
  color: #E28723;
}

.useful-links li a:hover {
  color: #FF9500;
}

.useful-links li {
  margin: 8px 12px;
  font-family: 'Martel', serif;
}

/*EMG Main*/

.emg-main p {
  margin: 0 25px 30px 25px;
}

.emg-main li {
  margin: 8px 25px;
  max-width: 500px;
}

.emg-main .serif-font li a {
  font-family: 'Martel', serif;
}

.emg-aside {
  border-radius: 15px;
  padding: 16px;
  margin-bottom: 50px;
}

.emg-aside p {
  margin: 18px;
  line-height: 1.4;
}

.emg-main img {
  width: 80%;
  height: auto;
  margin: 35px auto;
  box-shadow: 1px 1px 2px #AAA;
}

.emg-aside button {
  margin-bottom: 15px;
}

/*FORM*/

.form-control {
	height: 35px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
  background-color: #F3F3F3;
}
.form-control-feedback {
	color: #D2D2D2;
}
.has-feedback label.sr-only ~ .form-control-feedback {
	top: 10px;
}
textarea {
	resize: vertical;
}

/*DESKTOP FORM ( < 768px)*/

@media (min-width: 768px) {

.emg-form {
  max-width: none;
  margin: auto;
}
}

/*MOBILE FORM ( < 768px)*/

@media (max-width: 767px) {

  .emg-form {
    max-width: 90%;
    margin: auto;
  }
}

/*INSURANCE*/

.insurance-main p {
  padding: 0 15px;
  max-width: 1000px;
  margin: 0 auto;
}

.insurance-image {
  background-image: url(../images/business-meeting-blue.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  position: relative;
  font-family: 'Martel', serif;
}

.insurance-image {
  margin-top: 50px;
}

.insurance-image img {
  width: 150px;
  height: auto;
  border: 2px solid #F3F3F3;
}

.custom-thumbnail {
  margin: 40px auto;
  padding: 15px;
  max-width: 95%;
  min-height: 395px;
}

.thumb-text {
  font-family: 'Martel Sans', sans-serif;
  font-weight: 300;
  font-size: 12px;
  text-shadow: 1px 1px black;
  font-weight: 300;
}

.custom-thumbnail ul {
  font-size: 12px;
  line-height: 1.4;
  padding-left: 0;
  letter-spacing: 1.4px;
}

.custom-thumbnail ul:first-child {
  transform: translateX(-20px);
}

.custom-thumbnail ul:last-child {
  padding-left: 30px;
}

.custom-thumbnail ul li {
  font-family: 'Martel Sans', sans-serif;
  text-shadow: 1px 1px black;
  font-weight: 200;
  letter-spacing: 1.4px;
}

.second-column {
  transform: translateX(-30px)!important;
}

.custom-thumbnail-header {
  margin: 15px auto;
  font-family: 'Martel', serif;
  text-shadow: 1.5px 1.5px black;
}

.insurance-forms {
  padding: 50px 15px;
}

.thumb-fade-in {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/*CONTACT PAGE*/

.contact-main p {
  margin: 0 25px 30px 25px;
  max-width: 800px;
}

.tab-content {
  margin-left: 25px;
  background-color: white;
  border: 1pt solid rgb(221, 221, 221);
  border-top: 0;
  border-radius: 4px;
  padding: 25px;
}

.tab-content .lead {
  margin-bottom: 16px;
}

.contact-details {
  color: #919191;
}

.map-break {
  border-bottom: 1pt dotted #D2D2D2;
}

/*DESKTOP Tabs ( > 768px)*/

@media (min-width: 768px) {

  .nav-tabs {
    padding-left: 25px;
  }

  .tab-content {
    margin-left: 25px;
  }

}

/*MOBILE Tabs ( < 768px)*/

@media (max-width: 767px) {

  .nav-tabs {
    padding-left: 0;
  }

  .tab-content {
    margin-left: 0;
  }
}

.map-responsive{
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    margin-top: 20px;
}
.map-responsive iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
}

.nav-tabs li a {
  font-size: 12px;
}

.contact-main li {
  margin: 8px 12px;
}

.contact-aside {
  margin-top: 50px;
  border-radius: 15px;
  padding: 16px;
}

.contact-aside p {
  margin: 15px;
}

.contact-aside i {
  padding-right: 10px;
  margin-left: 15px;
}

.contact-aside li {
  margin-left: 0;
}

.contact-aside a {
  font-size: 12px;
}

.contact-aside .header-line {
  border-bottom: 1pt dotted #D2D2D2;
}

.contact-sub-footer p {
  border-top: 1pt solid #D2D2D2;
  margin-bottom: 40px;
}
